body {
    font-size: 20px;
}
.dataArea {
    margin-left: 50px;
}

.agent {
    margin: 50px;
    height: 100px;
}

.data_text {
    float: right;
}

p {
    text-align:left;
}

.name_text {
    color: #002966;
    font-size: 25px;
    font-weight: 600;
}

.css-input {
    margin-right: 20px;
}


.green, .failed {
    padding-left: 50%;
}

.green {
    padding-top: 40%;
}

.content {
    background-color: beige;
    margin-right: 20px;
    border: 2px solid black;
    border-radius: 8px;
    padding-right: 5px;
    padding-left: 5px;
    height: 120px;
    text-align: center;
}

.Red_Button {
    height: 60px;
}

.Green_Button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: none;
    width: 120px;
    height: 50px;
    border-radius: 8px;
    transition: color .20s ease-in-out, background-color .20s ease-in-out, border-color .20s ease-in-out, box-shadow .20s ease-in-out;
    background-color: #73bf73;
    color: white;
    box-shadow: grey 5px 5px 5px;
}

    .Green_Button:focus {
        outline: none;
    }

    .Green_Button:hover {
        background-color: #79d279;
    }