body {
}
h1 {
    color: blue;
    font-family: verdana;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#cardFrame {
    border-style: solid;
    width: 120px;
    height: 120px;
}
.board_area{
    display:flex;
    justify-content:space-evenly;
}
.player {
    display:flex;
    justify-content:space-evenly;
}
.player_img {
    max-block-size:100px;
    height:auto;
    width:auto;
}
.info_agent{
    display:grid;
    margin-top:15%;
}
#card {
    margin-left: auto;
    margin-right: auto;
    border-style: dotted;
    background-color: aquamarine;
    width: 115px;
    height: 115px;
}

#board {
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
    margin-bottom:auto;
}