
body {
    background-color: aliceblue;
}
h1 {
    font-family: verdana;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.headline {
    text-align: center;
    margin-top: 20px;
    margin-right: 150px;
}
h2 {
    color: #002966;
    font-size: 28px;
    font-weight: bold;
    font-family: Georgia;
}

.text {
    font-weight: bold;
    font-size:22px;
}


#cardFrame {
    border-style: solid;
    width: 120px;
    height: 120px;

}

#board {
    margin:20px;
}

.board_area{
    margin: 20px;
    display:flex;
    justify-content:space-evenly;
}
.player {
    border: 2px ridge black;
    background-color: rgb(164 179 241 / 55%);
    display: flex;
    justify-content: space-evenly;
    padding:4px;
}

#hint {
    background-color: rgb(255 255 250 / 0.9);
    /* 1 pixel black shadow to left, top, right and bottom */
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-family: sans;
    color: yellow;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 60px;
    box-shadow: black 5px 5px 5px 1px;
    font-weight: bold;
    font-size: 39px;
}

.hint_img {
    margin:4px;
    display:flex;
    max-block-size:50px;
}

.player_name_img {
    padding: 10px;
}

.player_img {
    max-block-size:100px;
    height:auto;
    width:auto;

}
.info_agent {
    display: grid;
    margin-top: 15%;
    padding:5px;
}
#board_info {
    background-color: rgb(164 179 241 / 55%);
    height: 100%;
    padding: 5px;
    margin-right: 1%;
    width: 75%;
    border: 2px ridge black;
    border-radius: 8px;
}
#card {
    margin-left: auto;
    margin-right: auto;
    border-style: dotted;
    background-image: url("../../resources/Images/card_back.jpg");
    background-size: 125px 80px;
    background-position: center;
    width: 130px;
    height: 80px;
    margin: 10px;
    box-shadow: black 5px 5px 10px 1px;
    border: 2px ridge black;
}

#card:hover, #card:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.5em);
    box-shadow: black 5px 5px 10px 1px;
    border: 2px ridge black;
}


#board {
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
    margin-bottom:auto;
}
#memoryTable {
    background-color: aliceblue;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px ridge black;
    border-radius: 8px;
}
#agent_area {
    padding: 10px;
    background-color: rgb(89 109 183 / 0.7);
    box-shadow: inset 0 0 0 10px darkgrey;
}

.card_spec {
    margin: 20px;
}

#head_board {
    background-color: rgb(89 109 183 / 0.7);
    padding: 15px;
    border: 2px solid black;
    box-shadow: black 10px 10px 10px;
    
}
