
body {
    background-color: aliceblue;
    background-size: cover;

}

.question_container {
    margin: 10px;
    padding: 10px;
}

h4 {
    text-align: center;
    color: #002966;
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia;
    margin-bottom: 20px;
    margin-top: 40px;
}

h5 {
    text-align: center;
    color: #002966;
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia;
    margin-bottom: 10px;
    margin-top: 10px;
}

.QAsection {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(164 179 241 / 55%);
    padding: 1%;
}

.question {
    margin: 5px;
    font-size: 22px;
    font-weight: bold;
    font-family: Georgia;
}

.btn {
    margin: 8px;
    box-shadow: black 5px 5px 10px;
}

.clickers {
    text-align: center;
}

.Green_Button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: none;
    width: 120px;
    height: 50px;
    border-radius: 8px;
    transition: color .20s ease-in-out, background-color .20s ease-in-out, border-color .20s ease-in-out, box-shadow .20s ease-in-out;
    background-color: #73bf73;
    color: white;
    box-shadow: grey 5px 5px 5px;
}

    .Green_Button:focus {
        outline: none;
    }

    .Green_Button:hover {
        background-color: #79d279;
    }

.failed {
    border: 2px solid black;
    border-radius: 8px;
    background-color: beige;
    padding-right: 5px;
    padding-left: 5px;
}

.Red_Button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 2px ridge black;
    width: 120px;
    height: 60px;
    border-radius: 8px;
    transition: color .20s ease-in-out, background-color .20s ease-in-out, border-color .20s ease-in-out, box-shadow .20s ease-in-out;
    background-color: #ea5353;
    color: white;
    box-shadow: grey 5px 5px 5px;
}

    .Red_Button:focus {
        outline: none;
    }

    .Red_Button:hover {
        background-color: #f35e5e;
    }
    