
@{
    ViewBag.Title = "ChooseReplay";
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/JS/chooseReplay.js"></script>
}

<link rel="stylesheet" href="~/Content/css/login.css" />
<link rel="stylesheet" href="~/Content/css/chooseReplay.css" />



<body>

    <div>
        <h2> Choose a Replay to RUN! </h2>
    </div>
    <div class="back_container">
        <buton onclick="back()" class="btn back_btn">Back</buton>
    </div>
</body>

