
@{
    ViewBag.Title = "chooseDataOrReplay";
}
@section scripts {
    <script type="text/javascript" src="~/Scripts/JS/chooseDataOrReplay.js"></script>
}

<link rel="stylesheet" href="~/Content/css/login.css" />
<link rel="stylesheet" href="~/Content/css/chooseDataOrReplay.css" />



<h2>Choose Data Or Replay</h2>

<body>
    <div class="rplBtn">
        <buton onclick="chooseReplay()" class="btn">Choose Replay to Run</buton>
    </div>
    <div class="DataBtn">
        <buton onclick="showDataTable()" class="btn">Show Data Table</buton>
    </div>
</body>

