
@{
    ViewBag.Title = "DataTable";
}
@section scripts {
    <script type="text/javascript" src="~/Scripts/JS/DataTable.js"></script>
    
}
<link rel="stylesheet" href="~/Content/DataTable.css" />
<h2>DataTable</h2>
<div id="tabledata">

</div>

