
@{
    ViewBag.Title = "DataTable";
}
@section scripts {
    <script type="text/javascript" src="~/Scripts/JS/DataTable.js"></script>
    
}

<link rel="stylesheet" href="~/Content/css/Login.css" />
<link rel="stylesheet" href="~/Content/css/chooseReplay.css" />


<h2>DataTable</h2>
<div class="back_btn">
    <buton onclick="back()" class="btn">Back</buton>
</div>
<div id="tabledata">


</div>

