
@{
    ViewBag.Title = "DataTable";
}
@section scripts {
    <script type="text/javascript" src="~/Scripts/JS/DataTable.js"></script>

}

<link rel="stylesheet" href="~/Content/css/Login.css" />
<link rel="stylesheet" href="~/Content/css/dataTable.css" />



<h2>Data Table</h2>
<div class="back_container">
    <buton onclick="back()" class="btn back_btn">Back</buton>
</div>
<div id="tabledata">


</div>

