
@{
    ViewBag.Title = "Login";
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/JS/login.js"></script>
}

<link rel="stylesheet" href="~/Content/css/login.css" />


<body>
    <div class="container">
        <h2> Login Page </h2>
        <div class="uname">
            <label for="uname"><b>Username</b></label>
            <input id="userName" type="text" placeholder="Enter Username" name="uname" required>
        </div>
        <div class="psw">
            <label for="psw"><b>Password</b></label>
            <input id="password" type="password" placeholder="Enter Password" name="psw" required>
        </div>

        <button class="login_btn" onclick="login()">Login</button>

    </div>

</body>
