@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/JS/Consent.js"></script>
}

<link rel="stylesheet" href="~/Content/css/consent.css" />
<body>
    <div id="div_body" style="text-align: center;">
        <h2>Informed Consent</h2>

        <div id="Consent_Form" style="text-align: center;">
            <p>Dear participant,</p>
            <p>Thank you for accepting this HIT. This study is being done by Prof. David Sarne and lab members from Bar-Ilan University.</p>

            <p>The purpose of this research is to study human behavior. The time the experiment will take is specified in the HIT description.</p>

            <p>You may not directly benefit from this research; however, we hope that your participation in the study will help in better understanding some aspects of human behavior, leading to the development of better and more effective tools and methods for humanity. Your responses in this study are anonymous.</p>

            <p>We believe there are no known risks associated with this research study; however, as with any online related activity the risk of a breach of confidentiality is always possible. To the best of our ability your answers in this study will remain confidential. We will minimize any risks by storing all data in a secured server. Furthermore, all results that will be reported based on the data collected in this study will be based on aggregation over users – no specific data of any single (anonymous) user will be disclosed whatsoever.</p>

            <p>Your participation in this study is completely voluntary and you can withdraw at any time. There will be no penalty for withdrawal (though you will not complete the HIT and get paid).</p>

            <p>We sincerely appreciate your consideration and participation in this study.</p>

            <p>If you encounter any technical problem with the HIT, or have any questions or comments, please contact us by sending an email using the AMT system. If you have research-related questions or want clarification regarding this research and/or your participation, please contact Prof. David Sarne at david.sarne@biu.ac.il</p>

            <p>By clicking “I agree” below you are indicating that you are at least 18 years old, have read and understood this consent form and agree to participate in this research study. It is adviced that you print a copy of this page for your records.</p>
        </div>

        <div class="container Container_Space_Evenly">

            <div class="row">

                <div id="Buttons_Form" class="col-sm">
                    <button class="Green_Button" type="submit" onclick="Agree(); return false;">I Agree</button>
                    <button class="Red_Button" type="submit" onclick="Disagree(); return false;">I do not agree</button>
                </div>

            </div>

        </div>

    </div>
</body>