
@{
    ViewData["Title"] = "DisagreePage";
}


@section scripts {
    <script type="text/javascript" src="~/Scripts/JS/DisagreePage.js"></script>
}
<link rel="stylesheet" href="~/Content/css/endings.css" />
<body>
    <div id="div_body">


        <div id="Consent_Form">
            <p>
                Thank you for your time!
            </p>
            <p>
                Please return the HIT.
            </p>
        </div>
    </div>
</body>

