
@{
    ViewData["Title"] = "EndGame";
}
@section scripts {
    <script type="text/javascript" src="~/Scripts/JS/EndGame.js"></script>
}
<link rel="stylesheet" href="~/Content/css/consentIndex.css" />
<link rel="stylesheet" href="~/Content/css/verificationRules.css" />
<link rel="stylesheet" href="~/Content/css/game1.css">

<body>
    <div id="InfoDiv" class="Justify_Content" style="justify-content:space-evenly">
         <div style="display:block; float:left">
            <img style=" width: 300px;height:250px;align-items: center;margin-top: 10px; margin-bottom: 10px;" src="~/resources/Images/Done.png" />
            <div id="textDiv">
                <p>
                    You and the agents have successfully solved <span id="numOfBoardEach"></span> boards each.
                </p>
                <p>
                    To continue, please copy the time it took for each of you:
                </p>
                <div id="question_area">
                    <div class="agent" style="display:inline-flex">
                            <span id="name" style="margin-left:5%">Me:</span>
                            <div>
                                 <p><input type="text" class="css-input"/> minutes</p>
                                <p><input type="text" class="css-input" /> points</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="agent_area" style="float:right">
            <div class="player">
                <div class="player_name_img">
                    <h4 id="name_of_player">Player</h4>
                    <img class="player_img" src="~/resources/player1.jpg" />
                </div>
                <div class="info_agent">
                    <div class="time_agent">
                        Time: <span id="time_text">00:00</span>
                    </div>
                    <div class="score_agent">
                        Score: <span id="score_text">0</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="failed" style="margin-top: 50px ;position:initial;display:none;" id="failed">
        <h4>Some of your answers were incorrect</h4>
        <button id="failed_button" onclick="anotherTry();" class="filed_button">Please try again</button>
    </div>

    <button id="agree_button_id" type="submit" class="Green_Button" style="background-color:#4ef18f" onclick="checkAns(); return false;">Submit</button>
</body>

