
@{
    ViewData["Title"] = "EndPage";
}
@section scripts {
    <script type="text/javascript" src="~/Scripts/JS/EndPage.js"></script>
}
<link rel="stylesheet" href="~/Content/css/endings.css" />

<body>
    <div>
        <br /><br />
        <div id="Consent_Form">
            <p>
                Thank you for your participation!
            </p>

            <p>
                You can now submit the assignment.
            </p>
            <p>
                You will be paid within 12 hours of submission.
            </p>
            <p>
                If you have any problems, please contact the HIT requester.
            </p>


        </div>
        
    </div>
</body>
