
@{
    ViewData["Title"] = "ErrorPage";
}
<link rel="stylesheet" href="~/Content/css/consent.css" />
<body>
    <div id="div_body">


        <div id="Consent_Form" class="h2">
            <p>
                Sorry, something went wrong.
            </p>
            <p>
                Please contact the HIT requester.
            </p>
        </div>
    </div>


</body>

