
@{
    ViewBag.Title = "Game1";
}
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/JS/Game1.js"></script>
<link rel="stylesheet" href="~/Content/css/game1.css" />
<body>
    <h1 id="score"></h1>
    <div id="time"></div>
    <div id="board_zone">
        <div id="board_info">
            <div id="head_board" style="display: flex;justify-content: space-between;  ">
                <div id="total_time"> Time:00:00
                </div>
                <div id="total_score">
                    Score: 50
                </div>
            </div>
            <div id="board">

            </div>
        </div>
        <div id="agent_area">
            <div class="player">
                player 1
             </div>
        </div>
    </div>
</body>

