
@{
    ViewBag.Title = "Game1";
}
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/JS/Game1.js"></script>
<link rel="stylesheet" href="~/Content/css/game1.css" />
<body>
    <h1 id="score"></h1>
    <div id="time"></div>
    <div id="board1"></div>
</body>

