
@{
    ViewData["Title"] = "InstructionsOne";
}


@section scripts {
    <script type="text/javascript" src="~/Scripts/JS/InstructionsOne.js"></script>
}
<link rel="stylesheet" href="~/Content/css/instruction1.css" />


<body>
    <h2>
        Memory Game
    </h2>
    <h3>
        Instructions – 1/2
    </h3>


    <div class="text_body">
        <h4>Welcome!</h4>
        <p> this HIT, you will play a well-known Memory Game, and then answer feedback questions.</p>
        <p> Please note that after clicking the "Continue" button, it will not be possible to start the HIT
        from the beginning.</p>
        <p> To avoid potential problems, please do NOT click the refresh button nor the
            back button while working on this HIT. </p>
        <p>Also, please do not open the HIT in another tab/window.</p>

    </div>

    <div class="clickers">
        <button class="Green_Button" type="submit" onclick="NextPage(); return false;">Continue</button>
    </div>

</body>