
@{
    ViewData["Title"] = "InstructionsTwo";
}
@section scripts {
    <script type="text/javascript" src="~/Scripts/JS/InstructionsTwo.js"></script>
}
<link rel="stylesheet" href="~/Content/css/instruction2.css" />
<body>
    <h2>
        Memory Game
    </h2>
    <h3>
        Instructions – 2/2
    </h3>
    <div class="text_body" id="textbox">
        <p> 1. On the board there will be given a number of upside down cards with animal pictures,
            each type of card will have actuall two cards on the board. </p>
        <p> 2. On every turn, each player will try and find two identical cards.
            by clicking a pair of cards they will turn the other way around and you will get the chance to see them. </p>
        <p> 3. If the cards match, extra point will be recieved to the score and the cards will disapear from the board. </p>
        <p> 4. You will play in turns, after each try, the turn moves to the next player and the others will rest. </p>
        <p> 5. Your job is to get the maximum score possible within th given time. </p>    
    </div>

    <div class="clickers">
        <button class="Green_Button" type="submit" onclick="NextPage(); return false;">Continue</button>
    </div>


</body>
