
@{
    ViewData["Title"] = "InterfaceExample";
}
<link rel="stylesheet" href="~/Content/css/consent.css" />
<script defer src="~/Scripts/JS/InterfaceExample.js"></script>
<body>
    <div style="text-align: center;">
        <br />
        <h4 style="text-align: center;">
            Here is what your interface will look like:
        </h4>
        <img src="~/Resources/boardExample3.png" alt="Italian Trulli" width="800" height="500">
        <br />
        <br />
        <div class="Center">
            <button id="agree_button_id" type="submit" class="Continue_Button" onclick="nextPage(); return false;">Continue</button>
        </div>

    </div>
</body>
