
@{
    ViewData["Title"] = "InterfaceExample";
}
<link rel="stylesheet" href="~/Content/css/interfaceExample.css" />
<script defer src="~/Scripts/JS/InterfaceExample.js"></script>
<body>
    <div style="text-align: center;">
        <br />
        <h3 style="text-align: center;">
            Here is what your interface will look like:
        </h3>
        <div>
            <img src="~/Resources/Images/interface.PNG" alt="Italian Trulli" width="800" height="500">
        </div>
        
        <br />
        <br />
        <div class="clickers">
            <button id="agree_button_id" type="submit" class="Green_Button" onclick="nextPage(); return false;">Continue</button>
        </div>

    </div>
</body>
