
@{
    ViewData["Title"] = "SecondTimeError";
}
@section scripts {
    <link rel="stylesheet" href="~/Content/css/consent.css" />
    <script src="~/Scripts/SecondTimeError.js"></script>
}

<body>
    <div id="div_body">


        <div id="Consent_Form">
            <p>
                Sorry, you have already participated in this HIT in the past. Please return this HIT.
            </p>
            <p>
                We will be happy to see you in our other next HITs.
            </p>
        </div>
        <div class="Center">
            <button class="Green_Button" type="submit" onclick="returnToAmazon(); return false;" style="height:auto">Return to Amazon</button>
        </div>
    </div>

</body>
