
@{
    ViewData["Title"] = "TooManyTries";
}
@section scripts {
    <link rel="stylesheet" href="~/Content/css/endings.css" />
    <script src="~/Scripts/JS/TooManyTries.js"></script>
}
<body>
    <div id="div_body">


        <div id="Consent_Form">
            <p>
                Sorry, that's too many tries...
            </p>
            <p>
                Please return the HIT.
            </p>
        </div>
        <div class="clickers">
            <button class="Green_Button" type="submit" onclick="returnToAmazon(); return false;" style="height:auto">Return to Amazon</button>
        </div>
    </div>


</body>

