
@{
    ViewData["Title"] = "VerificationRules";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/Content/css/verificationRulesCSS.css" rel="stylesheet">
    <script defer src="~/Scripts/JS/VerificationRulesScript.js"></script>
    <title>verification Rules</title>
</head>
<body>
    <div class="container">
        <h4>Let’s make sure that everything is clear</h4>
        <div>
            <div id="question-container" class="question_container">

            </div>
            <div>
                <img id="img_board" src="~/Resources/boardExample3.png" alt="Italian Trulli">
            </div>
        </div>

        <div class="control" style="text-align:center">
            <button id="continue-btn" style="text-align:center" class="next-btn">Continue</button>
        </div>
        <div class="failed" style="display:none;" id="failed">
            <h4>Some of your answers were incorrect</h4>
            <button id="failed_button" onclick="anotherTry();" class="filed_button">Please try again</button>
        </div>
    

    </div>
</body>
